---
import { projects } from "../data/projects.ts";
import Tag from "./Tag.astro";
---

<div class="proj-container">
  <h1>PROJECTS</h1>
  {projects.map((project) => (
  <div class="project-card">
    <img class="project-image" src={project.image} alt={`${project.title} preview`} />
    <div class="project-info">
      <h6 class="project-title">{project.title}</h6>
      <p>{project.desc}</p>
      <div class="tech-list">
        {project.tech.map((tech) => (
        <Tag label={tech} />
        ))}
      </div>
      <a href={project.github} target="_blank" rel="noopener noreferrer">
        View on GitHub
      </a>
    </div>
    </div>
  ))}
</div>

<style>
.project-card {
display: flex;
gap: 2rem;
}

.project-info {
  display: flex;
flex-direction: column;
gap: 0;
}

.project-image {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

.project-title {
margin: 0;
}

.tech-list {
display: flex;
gap: 1rem;
}


</style>
